@model SalaoNaWeb.Models.Agenda

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.razSoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.razSoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.nomeFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.nomeFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servico.nomeServ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico.nomeServ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorServ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorServ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataHoraFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataHoraFim)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-ok"></i> Deletar</button>
                </span>
            </div>
        </div>
        <div>
            @Html.ActionLink(" Voltar", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-backward" })
        </div>
    }
</div>


