@model SalaoNaWeb.Models.Agenda

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Agenda</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ageId)

        <div class="form-group">
            @Html.LabelFor(model => model.empId, "Salão", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("empId", "Selecione um salão")
                @Html.ValidationMessageFor(model => model.empId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.servId, "Serviços Disponíveis", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("servId", "Selecione um serviço")
                @Html.ValidationMessageFor(model => model.servId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.valorServ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.valorServ)
                @Html.ValidationMessageFor(model => model.valorServ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.funcId, "Profissional", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("funcId", "Selecione um profissional")
                @Html.ValidationMessageFor(model => model.funcId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataHora, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataHora)
                @Html.ValidationMessageFor(model => model.dataHora)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
                </span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" Voltar", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-backward" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
