@model IEnumerable<SalaoNaWeb.Models.Agenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.razSoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.nomeFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servico.nomeServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataHora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.razSoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.nomeFunc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servico.nomeServ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorServ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataHora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ageId })
        </td>
    </tr>
}

</table>
