@model IEnumerable<SalaoNaWeb.Models.Agenda>

@{
    ViewBag.Title = "Index";
}

<h2><span>@Html.ActionLink(" Incluir", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })</span></h2>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.razSoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.nomeFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servico.nomeServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataHoraFim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.razSoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.nomeFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.nomeServ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorServ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataHoraFim)
            </td>
            <td>
                @Html.ActionLink(" Alterar", "Edit", new { id = item.ageId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-edit" })
                @Html.ActionLink(" Detalhes", "Details", new { id = item.ageId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-list-alt" })
                @Html.ActionLink(" Deletar", "Delete", new { id = item.ageId }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-remove-sign" })
            </td>
        </tr>
    }

</table>
