@model SalaoNaWeb.Models.Servico

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Servico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeServ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeServ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-ok"></i> Deletar</button>
                </span>
            </div>
        </div>
        <div>
            @Html.ActionLink(" Voltar", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-backward" })
        </div>
    }
</div>
