@model SalaoNaWeb.Models.Servico

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Servico</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeServ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeServ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Alterar", "Edit", new { id = Model.servId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-edit" })
    @Html.ActionLink(" Voltar", "Index", null, new { @class = "btn btn-info btn-sm glyphicon glyphicon-backward" })
</p>
