@model SalaoNaWeb.Models.Servico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servico</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeServ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeServ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.servId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
