@model SalaoNaWeb.Models.Funcionario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Funcionario</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Alterar", "Edit", new { id = Model.funcId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-edit" })
    @Html.ActionLink(" Voltar", "Index", null, new { @class = "btn btn-info btn-sm glyphicon glyphicon-backward" })
</p>
