@model IEnumerable<SalaoNaWeb.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomeFunc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.funcId }) |
            @Html.ActionLink("Details", "Details", new { id=item.funcId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.funcId })
        </td>
    </tr>
}

</table>
