@model IEnumerable<SalaoNaWeb.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2><span>@Html.ActionLink(" Incluir", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })</span></h2>

<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contato)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contato)
            </td>
            <td>
               @Html.ActionLink(" Alterar", "Edit", new { id = item.cliId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-edit" })
               @Html.ActionLink(" Detalhes", "Details", new { id = item.cliId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-list-alt" })
               @Html.ActionLink(" Deletar", "Delete", new { id = item.cliId }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-remove-sign" })
            </td>
        </tr>
    }

</table>
