@model SalaoNaWeb.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cidade.cidNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.cidNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razSoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razSoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomFant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomFant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
