@model IEnumerable<SalaoNaWeb.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2><span>@Html.ActionLink(" Incluir", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })</span></h2>

<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cidade.cidNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razSoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomFant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.cidNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razSoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomFant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnpj)
            </td>
            <td>
                @Html.ActionLink(" Alterar", "Edit", new { id = item.empId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-edit" })
                @Html.ActionLink(" Detalhes", "Details", new { id = item.empId }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-list-alt" })
                @Html.ActionLink(" Deletar", "Delete", new { id = item.empId }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-remove-sign" })
            </td>
        </tr>
    }

</table>
