@model IEnumerable<SalaoNaWeb.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h3>Cadastro de Empresas</h3>
<hr />
<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.razSoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomFant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidadeNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidadeUf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.razSoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomFant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidadeNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidadeUf)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.empCod }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.empCod }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.empCod })
        </td>
    </tr>
}

</table>
