@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="pt">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>Pagina Inicial - SalaoWeb</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div data-bind="visible: loading">Carregando...</div>
    <div style="display: none" data-bind="visible: true" class="container body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand" data-bind="if: !loggedIn()">SalaoWeb</p>
                    <p class="navbar-brand" data-bind="if: loggedIn()">SalaoWeb</p>
                </div>
                <div data-bind="if: loggedIn" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Cidades", "Index", "Cidade", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Empresas", "Index", "Empresa", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Clientes", "Index", "Cliente", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Funcionarios", "Index", "Funcionario", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Servicos", "Index", "Servico", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Agenda", "Index", "Agenda", new { area = "" }, null)</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" data-bind="with: user">
                        <li>
                            <span class="navbar-text nofloat">Bem vindo, <a href="#" class="navbar-link" data-bind="text: name, click: manage"></a>!</span>
                        </li>
                        <li data-bind="click: logOff">@Html.ActionLink(" Sair", null, null, new { @class = "glyphicon glyphicon-off" })
                    </ul>
                </div>
            </div>
        </div>

        <div data-bind="foreach: errors" class="padding-error">
            <p class="text-danger" data-bind="text: $data"></p>
        </div>
        @Html.Partial("_Home")
        @Html.Partial("_Login")
        @Html.Partial("_Register")
        @Html.Partial("_RegisterExternal")
        @Html.Partial("_Manage")
        <hr />
        <footer>
            <a href="http://www.facebook.com/salao.na.web"><img src="~/Content/Imagens/facebook.png" /></a>
            <a href="https://twitter.com/SalaoWeb"><img src="~/Content/Imagens/twitter.png" /></a>
            <a href="https://plus.google.com/u/0/107551626823863275347"><img src="~/Content/Imagens/google.png" /></a>
            <p>&copy; @DateTime.Now.Year - Desenvolvido por Faculdade Una de BH. Todos direitos reservados.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
